@font-face {
    font-family:'restaurantfont';
    src: url(../assets/fonts/fontawesome-webfont.eot);
    src: url(../assets/fonts/ufonts.com_tw-cen-mt.ttf);
}

body {
    font-family: restaurantfont;
    box-sizing: border-box;
    margin: 0;
}



.null{
    height: 30vh;
    color: black;
}

/* TYPOGRAPHY */

.news h3, .contact h3, footer h3{
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    font-style: normal;
    margin-bottom: 10px;
}

.news h4, .contact h4, footer h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    font-style: normal;
    color: black;
    text-align: left;
}

.news h6, .contact h6, footer h6{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
}

.news strong, .contact strong, footer strong{
    font-size: 45px;
    font-weight: 600;
    line-height: 50px;
    font-style: normal;
    color: #ff530a;
}

.news p, .contact p{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
}

.news span, .contact span, footer span{
    color: #ff530a;
}



/* NEWSLETTER */
.news{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
    box-sizing: border-box;
    padding: 100px 30px;
    color: white;
    background-image: url(../assets/images/subscribe-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.news::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/images/overlay-pattern.png);
    background-color: black;
    opacity: 0.3;
} 

.container{
    position: relative;
}

.container hr{
    width: 20%;
    border: solid 0.5px white;
    margin: 30px auto;
}

.container form{
    margin-top: 5px;
}

/* .container input, .contact input{ */
input{
    margin:0px;
    margin-right: -5px;
    height: 65px;
    padding:12px;
    width: 500px;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    color: #949692;
    font-family: restaurantfont;
    font-weight: 400;
    font: size 15px;;
    box-sizing: border-box;
}

.submit{
    margin:0px;
    height: 65px;
    width: 200px;
    border:none;
    background-color: #7ec3bb;
    font-family: restaurantfont;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    font-style: normal;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* CONTACT US */


.contact{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing:border-box;        padding: 50px 30px 30px 30px;
    background-color: white;
    background-image: none;
}

.contact input{
    width: 80%;
    height: 50px;
    border: solid 1px #cccccc;
    margin-bottom: 15px;
}

.contact .submit{
    width: 30%;
    border:none;
    background-color: #ff5104;
    font-family: restaurantfont;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    font-style: normal;
    color: white;
    text-transform: uppercase;
}

.contact hr{
    width: 10%;
    border: solid 0.5px #c8c1b3;
    margin: 30px auto;
    
}

.contact h4{
    text-align: left;
    margin-left: 10%;
}


/* FOOTER */

footer{
    padding: 5% ;
    text-align: center;
    background-color: white;
}



.footer-content{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 30px;
}

.block{
    width: 33%;
    padding: 0 3%;
    margin: 5px;
    box-sizing: border-box;
}

footer p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    color: #454545;
}

.stream{
    display: flex;
    justify-content: space-between;
}

.icon{
    margin-right: 30px;
    padding: 10px;
    height: 15px;
    width: 15px;
    color: white;
    text-align: center;
    border-radius: 50%;
    background-color: #b0b0b0;
}
.social{
    display: flex;
}

.copyright{
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #454545;
    background-color: #e9e9e9;
    margin: 20px;
}
