@font-face {
    font-family:'restaurantfont';
    src: url(../assets/fonts/fontawesome-webfont.eot);
    src: url(../assets/fonts/ufonts.com_tw-cen-mt.ttf);
}

body {
    margin: 0;
    font-family: restaurantfont;
    box-sizing: border-box;
}
.img-header {
    max-width: 100%;
    height: auto;
    
}
#nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 46px;
    background: rgba(255, 255, 255, 0.89);
    position: absolute;
    bottom: -37px;
    width: 73vw;
}
ul {
    list-style-type: none;
    display: flex;
}
li {
    color: #2E2E2E;
    padding: 10px 0px;
    margin: 0px 15px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
    border-bottom: 2px solid rgba(255, 0, 0, 0);
    
}
li:hover {
    border-bottom: 2px solid red;
}
.header_sec {
    position: relative;
    display: flex;
    justify-content: center;
}
.header_sec::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/overlay-pattern.png);
    background: black;
    opacity: 0.25;
}
header {
    position: relative;
}